<p-sidebar
    [dismissible]="false"
    [showCloseIcon]="false"
    [visible]="sidebarVisible"
    [modal]="false"
    [blockScroll]="false"
    class="sidebar"
    styleClass="w-21rem p-0 bg-primary"
>
    <ng-template pTemplate="header" class="w-max mb-4">
        <div
            class="flex justify-content-between align-items-center w-full mb-4"
        >
            <div class="flex align-items-center w-full ml-3">
                <i
                    class="fa fa-light fa-briefcase text-white text-2xl mr-3"
                ></i>
                <p class="text-xl font-semibold text-white m-0">JobPortal</p>
            </div>

            <button
                pButton
                type="button"
                class="p-button-rounded p-button-text lg:hidden inline-block w-max"
                (click)="toggleSidebar()"
            >
                <i class="fa-solid fa-x text-white text-lg"></i>
            </button>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <ul>
            <li *ngFor="let menu of menuSidebar" class="mb-2">
                <a
                    [routerLink]="menu.route"
                    class="w-full text-lg flex align-items-center"
                    [ngClass]="{
                        active: menu.active
                    }"
                >
                    <i [ngClass]="menu.icon + ' mr-3'"></i>
                    {{ menu.label }}
                </a>
            </li>
        </ul>
    </ng-template>
</p-sidebar>
