<p-sidebar
    [dismissible]="false"
    [showCloseIcon]="false"
    [visible]="sidebarVisible"
    [modal]="false"
    [blockScroll]="false"
    class="sidebar"
    styleClass="w-21rem p-0 bg-primary"
>
    <ng-template pTemplate="header" class="w-max mb-4">
        <div
            class="flex justify-content-between align-items-center w-full mb-4"
        >
            <div class="flex align-items-center w-full ml-3">
                <i
                    class="fa fa-light fa-briefcase text-white text-2xl mr-3"
                ></i>
                <p class="text-xl font-semibold text-white m-0">JobPortal</p>
            </div>

            <button
                pButton
                type="button"
                class="p-button-rounded p-button-text lg:hidden inline-block w-max"
                (click)="toggleSidebar()"
            >
                <i class="fa-solid fa-x text-white text-lg"></i>
            </button>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <ul class="list-none p-0 m-0 mt-4">
            <li class="mb-3">
                <a
                    href="#"
                    class="w-full text-lg flex align-items-center text-white hover:text-gray-300"
                >
                    <i class="fa fa-home mr-2"></i>
                    Dashboard
                </a>
            </li>
        </ul>
    </ng-template>

    <ng-template pTemplate="content">
        <ul>
            <li>
                <a href="" class="w-full text-lg flex align-items-center">
                    <i class="fa fa-home mr-3"></i>
                    Dashboard
                </a>
            </li>
        </ul>
    </ng-template>
</p-sidebar>
