.user-details-table {
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 1rem;

    th,
    td {
        padding: 8px;
    }

    th {
        text-align: left;
        font-weight: bold;
    }

    td {
        text-align: left;
    }
}
