<div class="p-3 flex justify-content-between lg:justify-content-end">
    <button
        type="button"
        class="p-0 text-primary lg:hidden border-0 border-none cursor-pointer"
        (click)="onToggleSidebar()"
    >
        <i class="fa fa-solid fa-bars text-2xl"></i>
    </button>

    <div class="flex justify-content-end align-items-center flex-wrap">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button
            type="button"
            (click)="menu.toggle($event)"
            class="border-0 border-none cursor-pointer text-primary text-2xl"
        >
            <i class="fa fa-user"></i>
        </button>
    </div>
</div>
