.container {
    display: flex;
    height: calc(100vh - 50px);
    padding: 10px;
    .sidebar {
        flex: 0 0 18rem;
        margin-right: 25px;
    }
    .content {
        flex-grow: 1;
    }
}

@media (max-width: 992px) {
    .sidebar {
        flex: 0 0 0 !important;
        margin-right: 15px;
    }
}
