:host ::ng-deep .p-password {
    width: 100%;
}

:host ::ng-deep .p-password input {
    font-size: 1rem;
    background-color: var(--surface-overlay);
    color: var(--text-color);
    border: 1px solid var(--surface-border);
    border-radius: 0.5rem;
    appearance: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 1rem;
}

:host ::ng-deep .p-password input:focus {
    border-color: var(--primary-color);
}

.title-password {
    font-family: "Inter", sans-serif;
}
