<div class="mt-3 w-full" [formGroup]="signupForm">
    <h1 class="text-black-alpha-80 mb-5">Sign up</h1>
    <div class="field mb-4">
        <input
            id="email"
            type="email"
            pInputText
            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            name="email"
            formControlName="email"
            placeholder="Email"
            [ngClass]="{
                            'ng-invalid ng-dirty':
                            signupForm.get('email')?.invalid &&
                            (signupForm.get('email')?.dirty ||
                            signupForm.get('email')?.touched),
                        }"
        />
        <div
            *ngIf="
                signupForm.get('email')?.invalid &&
                signupForm.get('email')?.touched
            "
            class="text-red-500"
        >
            Email is required.
        </div>
    </div>
    <div class="field mb-4">
        <input
            id="username"
            type="text"
            pInputText
            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            name="username"
            formControlName="username"
            placeholder="Username"
            [ngClass]="{
                            'ng-invalid ng-dirty':
                            signupForm.get('username')?.invalid &&
                            (signupForm.get('username')?.dirty ||
                            signupForm.get('username')?.touched),
                        }"
        />
        <div
            *ngIf="
                signupForm.get('username')?.invalid &&
                signupForm.get('username')?.touched
            "
            class="text-red-500"
        >
            Username is required.
        </div>
    </div>
    <div class="field mb-4">
        <p-password
            formControlName="password"
            [toggleMask]="true"
            placeholder="Password"
        >
            <ng-template pTemplate="header">
                <h6 class="text-base text-color title-password">
                    Pick a password
                </h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
            </ng-template>
        </p-password>
        <div
            *ngIf="
                signupForm.get('password')?.invalid &&
                signupForm.get('password')?.touched
            "
            class="text-red-500"
        >
            Password is required.
        </div>
    </div>
    <div class="field mb-4">
        <input
            id="confirmPassword"
            type="password"
            pInputText
            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            name="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            [ngClass]="{
                            'ng-invalid ng-dirty':
                            signupForm.get('confirmPassword')?.invalid &&
                            (signupForm.get('confirmPassword')?.dirty ||
                            signupForm.get('confirmPassword')?.touched),
                        }"
        />
        <div
            *ngIf="
                signupForm.get('confirmPassword')?.invalid &&
                signupForm.get('confirmPassword')?.touched
            "
            class="text-red-500"
        >
            Confirm Password is required.
        </div>
    </div>

    <button
        pButton
        pRipple
        label="Sign up"
        class="bg-primary text-white w-full mt-4 p-3"
        (click)="onSubmit()"
    ></button>
    <p class="text-black-alpha-80 mt-5">
        Sudah punya akun? <a [routerLink]="'/login'">Sign in</a>
    </p>
</div>
